.swiper {
  width: 100%;
  height: 100%;
  padding: 13px !important;
  margin: -13px !important;
  padding-bottom: 39px !important;
}


@media screen and (min-width: 325px) and (max-width: 1024px) {
  .mySwiper {
display: none;
  }
}
@media screen and (min-width: 1025px) {
  .mySwiper {
    display: block;
  }
}
